<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-12">
            {{#if cadastrarOk}}
                <div class="alert alert-success">Cadastro efetuado com sucesso!</div>
            {{/if}}
            {{#if removerOk}}
                <div class="alert alert-success">Remoção efetuada com sucesso!</div>
            {{/if}}
            {{#if remocaoFalha}}
                <div class="alert alert-success">Remoção efetuada com sucesso!</div>
            {{/if}}

            {{#if falhaRemoverImagem}}
                <div class="alert alert-success">Remoção efetuada com sucesso!</div>
            {{/if}}
            
        </div>
    </div>
</div>